defaults:
  - agent: iql
  - test_suites: lb_test_nn
actors:
  hero:
    agent: iql
    reward:
      entry_point: reward.valeo_action:ValeoAction
    terminal:
      entry_point: terminal.leaderboard:Leaderboard
carla_sh_path: /home/mkdusgml/carla_ws/carla0910/CarlaUE4.sh
log_level: INFO
host: localhost
port: 2000
seed: 42
no_rendering: false
kill_running: true
resume: true
wb: true
wb_project: hsovp
wb_name: eval_hsovp
wb_notes: null
wb_tags: ['hsovp']
log_video: true