data:
    data_town: ["Town07"]
    type: ["short"]
    train_batch_size: 256
    val_batch_size: 256
    val_ratio: 0.2
    length: 10
    num_workers: 2
    pin_memory: false
    persistent_workers: false
    prefetch_factor: 2

model:
    action_dim: 3
    latent_dim: 10
    obs_feature_dim: 64
    hidden_dim: 128
    gru_hidden_dim: 64
    gru_layers: 2

train:
    device: "cuda:0"
    seed: 42
    num_epochs: 1000
    eval_frequency: 10
    lr: 0.001
    kl_weight: 1.0

resume: false
resume_ckpt_dir: "20250320_195645"
verbose: true
wb: true
wandb_project: "opal"
wandb_name: "opal"
wandb_tag: ["opal", "baseline", "leaderboard1", "Town01", "Town03", "Town04", "Town06"]